In [1]:
import numpy as np
import seaborn as sns

In [2]:
df = sns.load_dataset("mpg")

In [3]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [5]:
df.shape

(398, 9)

In [6]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [7]:
random_sample = df.sample(10)
random_sample

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
53,31.0,4,71.0,65.0,1773,19.0,71,japan,toyota corolla 1200
138,14.0,8,318.0,150.0,4457,13.5,74,usa,dodge coronet custom (sw)
80,22.0,4,122.0,86.0,2395,16.0,72,usa,ford pinto (sw)
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
220,33.5,4,85.0,70.0,1945,16.8,77,japan,datsun f-10 hatchback
52,30.0,4,88.0,76.0,2065,14.5,71,europe,fiat 124b
276,21.6,4,121.0,115.0,2795,15.7,78,europe,saab 99gle
181,33.0,4,91.0,53.0,1795,17.5,75,japan,honda civic cvcc
163,18.0,6,225.0,95.0,3785,19.0,75,usa,plymouth fury
111,18.0,3,70.0,90.0,2124,13.5,73,japan,maxda rx3

In [9]:
np.arange(0,len(df),step = 20)

array([  0,  20,  40,  60,  80, 100, 120, 140, 160, 180, 200, 220, 240,
       260, 280, 300, 320, 340, 360, 380])

In [19]:
df.iloc[np.arange(0,len(df),step = 30)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
30,28.0,4,140.0,90.0,2264,15.5,71,usa,chevrolet vega 2300
60,20.0,4,140.0,90.0,2408,19.5,72,usa,chevrolet vega
90,12.0,8,429.0,198.0,4952,11.5,73,usa,mercury marquis brougham
120,19.0,4,121.0,112.0,2868,15.5,73,europe,volvo 144ea
150,26.0,4,108.0,93.0,2391,15.5,74,japan,subaru
180,25.0,4,121.0,115.0,2671,13.5,75,europe,saab 99le
210,19.0,6,156.0,108.0,2930,15.5,76,japan,toyota mark ii
240,30.5,4,97.0,78.0,2190,14.1,77,europe,volkswagen dasher
270,21.1,4,134.0,95.0,2515,14.8,78,japan,toyota celica gt liftback
300,23.9,8,260.0,90.0,3420,22.2,79,usa,oldsmobile cutlass salon brougham
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
360,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt

In [20]:
df["origin"].unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [21]:
df.groupby("origin",group_keys = False).apply(lambda x: x.sample(3))

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
332,29.8,4,89.0,62.0,1845,15.3,80,europe,vokswagen rabbit
179,22.0,4,121.0,98.0,2945,14.5,75,europe,volvo 244dl
327,36.4,5,121.0,67.0,2950,19.9,80,europe,audi 5000s (diesel)
220,33.5,4,85.0,70.0,1945,16.8,77,japan,datsun f-10 hatchback
246,32.8,4,78.0,52.0,1985,19.4,78,japan,mazda glc deluxe
84,27.0,4,97.0,88.0,2100,16.5,72,japan,toyota corolla 1600 (sw)
121,15.0,8,318.0,150.0,3399,11.0,73,usa,dodge dart custom
124,11.0,8,350.0,180.0,3664,11.0,73,usa,oldsmobile omega
174,18.0,6,171.0,97.0,2984,14.5,75,usa,ford pinto

In [22]:
df["origin"].value_counts()

origin
usa       249
japan      79
europe     70
Name: count, dtype: int64

In [23]:
prop_stratified_sampling = df. groupby("origin",group_keys = False).apply(lambda x: x.sample(frac=0.25))

In [24]:
prop_stratified_sampling["origin"].value_counts()

origin
usa       62
japan     20
europe    18
Name: count, dtype: int64

In [26]:
cluster = np.random.choice(df["model_year"],size = 2,replace = False)

In [28]:
cluster

array([71, 80], dtype=int64)

In [30]:
cluster_sample = df[df["model_year"].isin(cluster)]

In [32]:
cluster_sample

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
29,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
30,28.0,4,140.0,90.0,2264,15.5,71,usa,chevrolet vega 2300
31,25.0,4,113.0,95.0,2228,14.0,71,japan,toyota corona
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
33,19.0,6,232.0,100.0,2634,13.0,71,usa,amc gremlin
34,16.0,6,225.0,105.0,3439,15.5,71,usa,plymouth satellite custom
35,17.0,6,250.0,100.0,3329,15.5,71,usa,chevrolet chevelle malibu
36,19.0,6,250.0,88.0,3302,15.5,71,usa,ford torino 500
37,18.0,6,232.0,100.0,3288,15.5,71,usa,amc matador
38,14.0,8,350.0,165.0,4209,12.0,71,usa,chevrolet impala
39,14.0,8,400.0,175.0,4464,11.5,71,usa,pontiac catalina brougham
40,14.0,8,351.0,153.0,4154,13.5,71,usa,ford galaxie 500
41,14.0,8,318.0,150.0,4096,13.0,71,usa,plymouth fury iii
42,12.0,8,383.0,180.0,4955,11.5,71,usa,dodge monaco (sw)
43,13.0,8,400.0,170.0,4746,12.0,71,usa,ford country squire (sw)
44,13.0,8,400.0,175.0,5140,12.0,71,usa,pontiac safari (sw)
45,18.0,6,258.0,110.0,2962,13.5,71,usa,amc hornet sportabout (sw)
46,22.0,4,140.0,72.0,2408,19.0,71,usa,chevrolet vega (sw)
47,19.0,6,250.0,100.0,3282,15.0,71,usa,pontiac firebird
48,18.0,6,250.0,88.0,3139,14.5,71,usa,ford mustang
49,23.0,4,122.0,86.0,2220,14.0,71,usa,mercury capri 2000
50,28.0,4,116.0,90.0,2123,14.0,71,europe,opel 1900
51,30.0,4,79.0,70.0,2074,19.5,71,europe,peugeot 304
52,30.0,4,88.0,76.0,2065,14.5,71,europe,fiat 124b
53,31.0,4,71.0,65.0,1773,19.0,71,japan,toyota corolla 1200
54,35.0,4,72.0,69.0,1613,18.0,71,japan,datsun 1200
55,27.0,4,97.0,60.0,1834,19.0,71,europe,volkswagen model 111
56,26.0,4,91.0,70.0,1955,20.5,71,usa,plymouth cricket
309,41.5,4,98.0,76.0,2144,14.7,80,europe,vw rabbit
310,38.1,4,89.0,60.0,1968,18.8,80,japan,toyota corolla tercel
311,32.1,4,98.0,70.0,2120,15.5,80,usa,chevrolet chevette
312,37.2,4,86.0,65.0,2019,16.4,80,japan,datsun 310
313,28.0,4,151.0,90.0,2678,16.5,80,usa,chevrolet citation
314,26.4,4,140.0,88.0,2870,18.1,80,usa,ford fairmont
315,24.3,4,151.0,90.0,3003,20.1,80,usa,amc concord
316,19.1,6,225.0,90.0,3381,18.7,80,usa,dodge aspen
317,34.3,4,97.0,78.0,2188,15.8,80,europe,audi 4000
318,29.8,4,134.0,90.0,2711,15.5,80,japan,toyota corona liftback
319,31.3,4,120.0,75.0,2542,17.5,80,japan,mazda 626
320,37.0,4,119.0,92.0,2434,15.0,80,japan,datsun 510 hatchback
321,32.2,4,108.0,75.0,2265,15.2,80,japan,toyota corolla
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc
323,27.9,4,156.0,105.0,2800,14.4,80,usa,dodge colt
324,40.8,4,85.0,65.0,2110,19.2,80,japan,datsun 210
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
327,36.4,5,121.0,67.0,2950,19.9,80,europe,audi 5000s (diesel)
328,30.0,4,146.0,67.0,3250,21.8,80,europe,mercedes-benz 240d
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
331,33.8,4,97.0,67.0,2145,18.0,80,japan,subaru dl
332,29.8,4,89.0,62.0,1845,15.3,80,europe,vokswagen rabbit
333,32.7,6,168.0,132.0,2910,11.4,80,japan,datsun 280-zx
334,23.7,3,70.0,100.0,2420,12.5,80,japan,mazda rx-7 gs
335,35.0,4,122.0,88.0,2500,15.1,80,europe,triumph tr7 coupe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
337,32.4,4,107.0,72.0,2290,17.0,80,japan,honda accord